@import "tailwindcss";

:root {
  --background: #0d1117;
  --foreground: #c9d1d9;
}

@theme {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
